$color-primary:         snow;
$color-secondary:       wheat;
$color-tertiary:        lightgreen;
$color-link:            orange;
$color-theme:           #ffd700;
$color-card-bg:         #fdf8dc;
$color-card-fg:         #222;
